[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/indresh28
[access "refs/for/refs/*"]
	read = group user/indresh28
	push = group user/indresh28
	label-Code-Review = -2..+2 group user/indresh28
	label-Verified = -1..+1 group user/indresh28
	rebase = group user/indresh28
	removeReviewer = group user/indresh28
	submit = group user/indresh28
[access "refs/heads/*"]
	read = group user/indresh28
	create = group user/indresh28
	push = +force group user/indresh28
	pushMerge = group user/indresh28
[access "refs/tags/*"]
	push = group user/indresh28
	push = +force group user/indresh28
